[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/myproject
Environment="PATH=/home/user/myproject/myprojectenv/bin"
ExecStart=/home/user/myproject/myprojectenv/bin/gunicorn --workers 3 --log-level debug --error-logfile /home/user/myproject/debug.log --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
