<!DOCTYPE html> <html lang="en">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fjalla One">
    <title>CNTK API</title>
    <style>
        .main{
            font-family: 'Fjalla One', serif; 
            text-align: center;
        }
	</style>
</head>
<body>
    <div class="main">
	<h1>The CNTK API works</h1>
	<h2>Auto high 5!</h2>
    <p align="center">
	<img src="https://media.giphy.com/media/isPC1rocFebIc/giphy.gif">
 	<!-- <img src="bender.gif"> -->
    </p>
    </div>
</body>
</html>


