<!DOCTYPE html> <html lang="en">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fjalla One">
    <title>Fraud detection API</title>
    <style>
        .main{
            font-family: 'Fjalla One', serif; 
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
    <h1>The fraud policy is watching you</h1>
    <p align="center">
        <img src="https://i.giphy.com/media/81xwEHX23zhvy/giphy.gif">
        <!-- <img src="police.gif"> -->
    </p>
    </div>
</body>
</html>