<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/export.css') }}" type="text/css" media="all" />
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/ammap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/worldLow.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/none.js') }}"></script>
  <script src="{{ url_for('static', filename='js/frauddetection.js') }}"></script>

</head>

<body>
      <!-- Latency test -->
      <p>Average ping/pong latency:
          <b>
              <!-- Shows the content of JS variable $('#ping-pong') -->
              <span id="ping-pong"></span>
              ms
          </b>
      </p>
      
  <div id="chartdiv"></div>
</body>


</html>