<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" type="text/css" media="all" />
  <script src="{{ url_for('static', filename='js/ammap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/worldLow.js') }}"></script>
  <script src="{{ url_for('static', filename='js/export.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/export.css') }}" type="text/css" media="all" />
  <script src="{{ url_for('static', filename='js/none.js') }}"></script>
  <script src="{{ url_for('static', filename='js/frauddetection.js') }}"></script>

</head>

<body>
  <!-- HTML -->

  <div id="chartdiv"></div>
  <!--{{ locations }}-->
</body>


</html>