#chartdiv {
    width: 100%;
    height: 500px;
  }
  
  .map-marker {
      /* adjusting for the marker dimensions
      so that it is centered on coordinates */
      margin-left: -8px;
      margin-top: -8px;
  }
  .map-marker.map-clickable {
      cursor: pointer;
  }
  .pulse {
      width: 2px;
      height: 2px;
      border: 1px solid #CC0000;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background-color: #CC0000;
      z-index: 10;
      position: absolute;
    }
  .map-marker .dot {
      border: 2px solid #CC0000;
      background: transparent;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      height: 30px;
      width: 30px;
      -webkit-animation: pulse 3s ease-out;
      -moz-animation: pulse 3s ease-out;
      animation: pulse 3s ease-out;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      position: absolute;
      top: -15px;
      left: -15px;
      z-index: 1;
      opacity: 0;
    }
    @-moz-keyframes pulse {
     0% {
        -moz-transform: scale(0);
        opacity: 0.0;
     }
     25% {
        -moz-transform: scale(0);
        opacity: 0.1;
     }
     50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
     }
     75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
     }
     100% {
        -moz-transform: scale(1);
        opacity: 0.0;
     }
    }
    @-webkit-keyframes "pulse" {
     0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
     }
     25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
     }
     50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
     }
     75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
     }
     100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
     }
    }